# WalletConnect Project ID (Get one from https://cloud.walletconnect.com)
BUN_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Deployed Contract Address
BUN_PUBLIC_CHAT_ROOM_ADDRESS=0x05EC6021c494BFE78c6E34f1970d75944C61fB6D
